<script src="https://giscus.app/client.js"
        data-repo="kromg/kromg.github.io"
        data-repo-id="R_kgDOQDL4_A"
        data-category="Blog Posts Comments"
        data-category-id="DIC_kwDOQDL4_M4C0dlf"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>